@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    margin: auto;
    padding: 45px 15px;
}

#logo {
    width: 260px;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

main {
    max-width: 1080px;
    margin: auto;
    padding: 20px;
}

footer {
    text-align: center;
    font-size: 12px;
}

/* Boutons Modifier et Supprimer */
.button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.modify-btn {
    width: 150px;
}
.btn {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-transform: uppercase;
    width: 100%;
    margin: 0 5px;
}

.btn-modify {
    background-color: #4CAF50; /* Vert */
    color: white;
}

.btn-delete {
    background-color: #f44336; /* Rouge */
    color: white;
}

.btn:hover {
    transform: scale(1.05);
}

.btn-modify:hover {
    background-color: #45a049;
}

.btn-delete:hover {
    background-color: #e53935;
}
.oeuvre {
    width: 33.33%;
    padding: 15px;
}

.oeuvre img {
    width: 100%;
}

.oeuvre h2, #detail-oeuvre h1 {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 30px;
}

.oeuvre .description, #detail-oeuvre .description {
    font-style: italic;
    margin-top: 0;
    font-size: 12px;
    margin-bottom: 20px;
    text-align: justify;
}

/* Détails de l'œuvre */
#detail-oeuvre {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 75px;
    font-size: 14px;
    padding: 0 15px;
}

#img-oeuvre {
    margin-right: 25px;
}

#img-oeuvre img {
    max-width: 470px;
    margin: auto;
    display: block;
}

#contenu-oeuvre {
    max-width: 470px;
}

.description {
    font-style: italic;
    font-size: 12px;
    margin-bottom: 20px;
    text-align: justify;

}

.description-complete {
    text-align: justify;
    font-size: 14px;
    line-height: 1.6;
}

/* Formulaires et boutons */
form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 50px 10px;
}

.delete-form {
    width: 150px;
    padding:0px;
}

.champ-formulaire {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

#liste-oeuvres {
    display: flex;
    flex-wrap: wrap;
}

form input, form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

form textarea {
    height: 150px;
}

input[type="submit"] {
    margin: auto;
    color: white;
    background: black;
    border: none;
    width: 120px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

input[type="submit"]:hover {
    background-color: #333;
    transform: scale(1.05);
}

/* Adaptation pour écrans plus petits */
@media (max-width: 850px) {
    #detail-oeuvre {
        flex-direction: column;
    }

    #img-oeuvre {
        margin-right: 0;
        width: 100%;
    }

    #img-oeuvre img {
        width: 100%;
    }

    #contenu-oeuvre {
        width: 100%;
        margin: auto;
    }
}

@media (max-width: 600px) {
    .button-group {
        flex-direction: column;
    }

    .btn {
        margin-bottom: 10px;
    }

    #logo {
        width: 200px;
    }

    header ul {
        flex-direction: column;
        gap: 0;
    }
}
